@use "sass:color";

// ==== COLOR ==== //

/* base */
$white: rgb(255 255 255);
$tomato: rgb(201 69 59);

/* text */
$text-main: $white;

/* link */
$link-main: $white;
$link-hover: color.scale($white, $blackness: 20%);
$link-active: color.scale($white, $blackness: 40%);

/* button */
$button-bg: $tomato;
$button-bg-hover: color.scale($tomato, $blackness: 20%);
$button-bg-active: color.scale($tomato, $blackness: 40%);

// ==== TYPOGRAPHY ==== //
$font-family-primary: 'Roboto', sans-serif;
$font-family-secondary: 'Gelasio', serif;