// ==== COLOR ==== //

/* base */
$white: rgb(255 255 255);
$tomato: rgb(201 69 59);

/* text */
$text-main: $white;

/* link */
$link-main: $white;

/* button */
$button-bg: $tomato;

// ==== TYPOGRAPHY ==== //
$font-family-primary: 'Roboto', sans-serif;
$font-family-secondary: 'Gelasio', serif;