@use '../../styles/variables' as variables;

.header {
  position: absolute;
  width: 100%;
  top: 35px;
  left: 0;
  z-index: 10;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
}

.link {
  color: variables.$link-main;
  text-decoration: none;
  transition: color 0.5s ease;

  &Logo {
    display: block;
    max-width: 124px;
    width: 100%;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &Action {
    width: 163px;
    padding: 14px 0;
  }

  &:hover {
    color: variables.$link-hover;
  }

  &:active {
    color: variables.$link-active;
  }
}

.list {
  display: flex;
  gap: 50px;
}

.wrapper {
  &Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 175px;
    margin-left: auto;
    
    @media (width <= 1142px) {
      gap: clamp(3.3125rem, -23.6171rem + 48.4127vw, 10.9375rem);
    }

    @media (width <= 890px) {

    }
  }
}