@use "./styles/variables" as variables;
@use './styles/fonts';

*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: variables.$text-main;
  font-family: variables.$font-family-primary;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
  margin: 0;
}

.container {
  max-width: 1180px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.btn-base {
  display: block;
  cursor: pointer;
  background-color: variables.$button-bg;
  border-radius: 5px;
  color: variables.$text-main;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  transition: background-color 0.5s ease;

  &:hover {
    background-color: variables.$button-bg-hover;
  }

  &:active {
    background-color: variables.$button-bg-active;
  }
}

.section-title {
  color: variables.$title-accent;
  font-family: variables.$font-family-secondary;
  font-size: 43px;
  font-weight: 500;
  line-height: 140%;
  text-align: center;
  margin-bottom: 20px;
}

.section-text {
  color: variables.$text-accent;
  text-align: center;
  margin-bottom: 50px;

  @media (width <= 480px) {
    margin-bottom: 35px;
  }
}

.no-overflow {
  overflow: hidden;
}

.swiper-slide {
  img {
    width: 100%;
    height: auto;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
}
